.primary {
	.cartouche {
		.publication {
			display:none;
		}
	}
}
.player-wrapper {text-align:center;background:#333;}
.mejs__container {margin:0 auto;}
.tags .invisible {display:none;}
.oembed,.spip_documents.oembed,.oembed_mastodon .oe-rich {margin-top:0;margin-bottom:0}
.oembed_mastodon .oe-rich {border-radius:0;border-top: 1px solid #ddd;}
.oembed blockquote {border:0;}
.pouetradio .item {border:0;padding:0;}
.pagination {text-align:center;display: block;}
a.playing {
	background:#9baec8 !important;
	color:#fff !important;
	box-shadow:0 0 8px #9baec8;
}
.item.playing {
	position:relative;
	box-shadow: 0 0 8px #9baec8;
	z-index:2;
}
@media (max-width:479px) {
	.page_sommaire .wrapper {
		margin-left:-20px;
		margin-right:-20px;
	}
}
#formulaire_recherche {margin-bottom:10px;margin-top:-10px;}
#formulaire_recherche label {color:#ddd;}
.readme { margin-top:-2em;margin-bottom:1em;}